@model CPMS_AUTO.Models.MSUSNo
<div class="col-12 mb-1">
    <div class="card ">
        <a asp-action="isSuccess" asp-route-id="true" class="close text-right"> &times;</a>
        <div class="card-header" style="height: 41px;"><h3 class="card-title">Add SUS No.</h3></div>

        <div class="card-body h-100 d-flex flex-column justify-content-center pb-lg-5 pb-xl-4">
            <form asp-action="AddSUSNo">
                <div class="row">
                    <div class="col-6 mb-4">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group" style="width:50%">
                            <label asp-for="SUS" class="control-label"></label>
                            <input asp-for="SUS" class="form-control" placeholder="Enter SUSNo." />
                            <span asp-validation-for="SUS" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6 mb-4" style="margin-top: 29px;margin-left: -237px;">
                        <div class="form-group">
                            <label class="control-label"></label>
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>